@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-azeret-mono: "Azeret Mono", monospace;
  --font-inter: "Inter", sans-serif;
}

body {
  @apply bg-white text-darkest font-inter;
}

h1{
  @apply font-cardo text-2xl md:text-3xl font-bold text-darkest
}

h2{
  @apply font-cardo text-xl font-bold text-darkest
}

h5{
  @apply text-base text-white font-semibold tracking-wider
}

p{
  @apply text-darkest
}
/* card styles */
.card {
  @apply 
    shadow-md 
    rounded-md 
    py-3 px-4 my-4 
    relative 
    overflow-hidden;
}

.rectangulo{
  @apply
    relative
    flex
    flex-col
    text-center
    items-center
    px-4
    py-2
    md:py-4
    text-sm
    rounded-lg
    shadow-lg
    justify-self-end
}

/* button styles */
button {
  @apply 
    px-3 py-2 
    m-2
    rounded-xl 
    flex items-center gap-2
    text-sm
    font-bold
    bg-dark
    text-gray-100
    tracking-wider
}

button:hover {
  @apply bg-opacity-75;
}
.btn-primary {
  @apply bg-primary text-white;
}
.btn-secondary {
  @apply bg-gray-200 text-gray-900;
}
  
.error {
  @apply 
    border-2 
    border-red-500 
    bg-red-300
    text-red-800 
    py-1 px-2 
    rounded-sm
    block
    max-w-fit
    my-4 mx-auto;
}